USE [ServerDBProject]
GO
/****** Object:  Table [dbo].[Account]    Script Date: Saturday 04 07 2026 05:19:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[IDAccount] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[State] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDAccount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: Saturday 04 07 2026 05:19:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[IDGroup] [int] IDENTITY(1,1) NOT NULL,
	[IDAccount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupMessages]    Script Date: Saturday 04 07 2026 05:19:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupMessages](
	[IDGroupMessage] [int] IDENTITY(1,1) NOT NULL,
	[IDGroup] [int] NOT NULL,
	[IDAccountFrom] [int] NOT NULL,
	[Contents] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDGroupMessage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: Saturday 04 07 2026 05:19:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[IDMessage] [int] IDENTITY(1,1) NOT NULL,
	[IDAccountFrom] [int] NOT NULL,
	[IDAccountTo] [int] NOT NULL,
	[Contents] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDMessage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([IDAccount], [Username], [Password], [Role], [State]) VALUES (3, N'Admin', N'123', N'Admin', N'Free')
INSERT [dbo].[Account] ([IDAccount], [Username], [Password], [Role], [State]) VALUES (4, N'Duy', N'123', N'User', N'Active')
INSERT [dbo].[Account] ([IDAccount], [Username], [Password], [Role], [State]) VALUES (5, N'Tuan', N'123', N'User', N'Active')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD  CONSTRAINT [FK_Group_Account] FOREIGN KEY([IDAccount])
REFERENCES [dbo].[Account] ([IDAccount])
GO
ALTER TABLE [dbo].[Group] CHECK CONSTRAINT [FK_Group_Account]
GO
ALTER TABLE [dbo].[GroupMessages]  WITH CHECK ADD  CONSTRAINT [FK_GroupMessages_Account] FOREIGN KEY([IDAccountFrom])
REFERENCES [dbo].[Account] ([IDAccount])
GO
ALTER TABLE [dbo].[GroupMessages] CHECK CONSTRAINT [FK_GroupMessages_Account]
GO
ALTER TABLE [dbo].[GroupMessages]  WITH CHECK ADD  CONSTRAINT [FK_GroupMessages_Group] FOREIGN KEY([IDGroup])
REFERENCES [dbo].[Group] ([IDGroup])
GO
ALTER TABLE [dbo].[GroupMessages] CHECK CONSTRAINT [FK_GroupMessages_Group]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Message_AccountFrom] FOREIGN KEY([IDAccountFrom])
REFERENCES [dbo].[Account] ([IDAccount])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Message_AccountFrom]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Message_AccountTo] FOREIGN KEY([IDAccountTo])
REFERENCES [dbo].[Account] ([IDAccount])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Message_AccountTo]
GO
